<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.alba.mapper.GonggoMapper">

    <!-- 리스트 조회 -->
    <select id="gonggoList" resultType="com.example.alba.domain.Gonggo">
        SELECT * FROM gonggo
    </select>


    <select id="selectOneGonggo" resultType="com.example.alba.domain.Gonggo">
        select * from gonggo where gonggo_no = #{gonggoNo};
    </select>

    <delete id="deleteGonggo">
        DELETE FROM gonggo where gonggo_no = #{gonggoNo}
    </delete>

    <insert id="insertGonggo">
        insert INTO gonggo
        (user_no , title, role, work_hours, wage, working_start_date,working_end_date , state, com_area, tel)
        VALUES
            (#{userNo}, #{title}, #{role}, #{workHours}, #{wage}, #{workingStartDate},#{workingEndDate}, true, #{comArea}, #{tel})
    </insert>

    <update id="updateGonggo">
        update gonggo
            set title = #{title} ,
                role = #{role},
                work_hours = #{workHours} ,
                wage = #{wage} ,
                working_start_date =  #{workingStartDate} ,
                working_end_date = #{workingEndDate} ,
                state = true,
                com_area = #{comArea} ,
                tel = #{tel}
                where gonggo_no =  #{gonggoNo}
    </update>




</mapper>
